/* General Styles */

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Blocks */

body {
    margin: 0;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    grid-area: 1/1/-1/2;
    padding: 25px;

    background-color: hsla(0, 100%, 50%, 0.5);
}

.header {
    background-color: hsla(240, 100%, 50%, 0.5);
}

.main {
    background-color: hsla(120, 100%, 25%, 0.5);
}

/* Elements */

.sidebar__nav {
    display: grid;
    grid-template-rows: auto;
    gap: 50px;
}

.sidebar__logo > * {
    margin: 0;
}