@font-face {
    font-family: 'roboto';
    src: url('/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('/fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('/fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('/fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: bold;

}

/* General Styles */

html {
    overscroll-behavior: none;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: black;
}

.icon {
    height: 1.5rem;
    width: 1.5rem; /*needed because width collapses on grid, would like to get rid of it */
    vertical-align: middle;
}

.icon--large {
    height: 3rem;
    width: 3rem;
}

.icon--xlarge {
    height: 4.4rem;
    width: 4.4rem;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}

/* Variables */

:root {
    --color-light-blue: hsl(201, 79%, 46%);
    --color-light-gray: hsl(214, 32%, 91%);
    --color-text-p-main: hsl(0, 0%, 39%);
    --box-shadow: 0.2rem 0.3rem 1rem 0.1rem hsl(217, 15%, 83%);
}

/* Typography */

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

/* Blocks */

body {
    margin: 0;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;

    font-family: 'roboto', Arial, Helvetica, sans-serif;
}

.sidebar {
    grid-area: 1/1/-1/2;
    padding: 1.5rem;
    z-index: 2;

    background-color: var(--color-light-blue);
    font-weight: 700;

}

.header {
    display: grid;
    gap: 1.8rem;
    padding: 1.25rem 3.75rem;


    background-color: white;
    font-weight: 700;
    z-index: 1;
    box-shadow: var(--box-shadow);
}

.search-bar {
    display: inline-grid;
    grid-template-columns: min-content auto;
    align-content: center;
    gap: 1rem;
}

.personal-links {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    justify-content: end;
    gap: 1.8rem;
}

.nav {
    display: grid;
    grid-template-columns: auto auto;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content auto;
    column-gap: 1.5rem;
    padding: 1.8rem;

    background-color: var(--color-light-gray);
}

.card {
    display: grid;
    grid-template-rows: auto min-content;
    padding: 2.2rem;
    border-radius: 0.6rem;

    background: linear-gradient(
        to right,
        hsl(42, 87%, 55%) 3% ,
        white 3%
    );
    box-shadow: var(--box-shadow);
}

/* Elements */

.sidebar__nav {
    position: fixed;
    display: grid;
    grid-template-rows: auto;
    gap: 3rem;
}

.sidebar ul {
    margin-left: 0.5rem;
}

.sidebar li:not(:last-child) {
    margin-bottom: 0.6rem;
}

.sidebar__nav a {
    display: inline-flex;
    align-items: center;
    gap: 1.25rem;

    color: white;
}

.sidebar__logo a {
    gap: 0.5rem;
}

.sidebar__logo .icon{
        height: 3.125rem;
        width: auto;
}

.header__utilities {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5rem;
}

.search-bar__input {
    grid-column: 2/3;

    background-color: var(--color-light-gray);
    border: none;
    border-radius: 1.8rem;
    padding-left: 0.75rem;
}

.search-bar__btn {
    grid-column: 1/2;
}

.personal-links > .name {
    color: black;
}

.nav > * {
    align-content: center;
}

.nav__user-info {
    display: grid;
    grid-template-columns: min-content auto;
    gap: 1.5rem;
    justify-self: start;
}

.nav__buttons {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    justify-self: end;
}

.nav button {
    border-radius: 2rem;
    padding: 0.6rem 1.6rem;

    color: white;
    background-color: var(--color-light-blue);

    font-weight: 700;
}

.nav__user-text > * {
    margin: 0;
}

.main__title{
    margin-bottom: 1rem;
}

.main__projects {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1.5rem;
}

.main__sidebar {
    grid-row: 2/3;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 2.5rem;
}

.main ul {
    border-radius: 0.75rem;

    background-color: white;
    box-shadow: var(--box-shadow);
}

.main p {
    color: var(--color-text-p-main);
}

.main__announcements ul {
    padding-inline: 1.8rem;
}

.main__announcements li {
    padding: 1.25rem 0;
}

.main__announcements li:not(:last-child){
    border-bottom:0.01rem solid hsl(0, 0%, 87%);
}

.main__trending ul {
    padding: 1.25rem;
}

.main__trending li {
    padding: 1rem 0;
}

.main__trending a {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.main__username {
    color: black;
}

.card__buttons {
    justify-self: end;
    display: flex;
    gap: 1.5rem;
}