/* General Styles */

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Blocks */

body {
    margin: 0;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    grid-area: 1/1/-1/2;
    padding: 25px;

    background-color: hsla(0, 100%, 50%, 0.5);
}

.header {
    display: grid;
    gap: 50px;
    padding: 20px 60px;


    background-color: hsla(240, 100%, 50%, 0.5);
}

.search-bar {
    display: inline-grid;
    grid-template-columns: 1fr 5fr;
}

.personal-links {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
}

.nav {
    display: grid;
    grid-template-columns: auto auto;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    padding: 30px;

    background-color: hsla(120, 100%, 25%, 0.5);
}

.card {
    border: 1px solid green;
}

/* Elements */

.sidebar__nav {
    display: grid;
    grid-template-rows: auto;
    gap: 50px;
}

.sidebar__logo > * {
    margin: 0;
}

.header__utilities {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 80px;
}

.search-bar__input {
    grid-column: 2/3;
}

.search-bar__btn {
    grid-column: 1/2;
}

.nav > * {
    align-content: center;
}

.nav__user-info {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-self: start;
}

.nav__buttons {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-self: end;
}

.nav__user-text > * {
    margin: 0;
}

.main__projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px
}